In [1]:
import pandas as pd

train = pd.read_csv('data/train_merged.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51635 entries, 0 to 51634
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            51635 non-null  int64
 1   plate         51635 non-null  object
 2   date          51635 non-null  object
 3   price         51635 non-null  int64
 4   letters       51635 non-null  object
 5   numbers       51635 non-null  int64
 6   region_code   51635 non-null  int64
 7   description   51635 non-null  object
 8   forbidden     51635 non-null  bool
 9   advantage     51635 non-null  bool
 10  significance  51635 non-null  int64
 11  region_name   51635 non-null  object
dtypes: bool(2), int64(5), object(5)
memory usage: 4.0+ MB

In [2]:
train

,id,plate,date,price,letters,numbers,region_code,description,forbidden,advantage,significance,region_name
0,1,X059CP797,2024-12-01,65000,XCP,59,797,NON_GOVERNMENT,False,False,0,Moscow
1,2,Y800MH790,2024-07-01,100000,YMH,800,790,NON_GOVERNMENT,False,False,0,Moscow Oblast
2,3,A212TX77,2024-04-01,290000,ATX,212,77,NON_GOVERNMENT,False,False,0,Moscow
3,4,P001AY199,2025-01-01,680000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow
4,5,P001AY199,2025-01-01,750000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow
...,...,...,...,...,...,...,...,...,...,...,...,...
51630,51631,X023PP797,2025-01-01,70000,XPP,23,797,NON_GOVERNMENT,False,False,0,Moscow
51631,51632,M004KA161,2025-01-01,1600000,MKA,4,161,NON_GOVERNMENT,False,False,0,Rostov Oblast
51632,51633,E888EB199,2025-02-01,850000,EEB,888,199,NON_GOVERNMENT,False,False,0,Moscow
51633,51634,X023XK77,2024-04-01,150000,XXK,23,77,NON_GOVERNMENT,False,False,0,Moscow
51634,51635,K450OC797,2023-10-01,25000,KOC,450,797,NON_GOVERNMENT,False,False,0,Moscow

In [3]:
train['date'] = pd.to_datetime(train['date'])
# make a new column calcuating the how old the data is in months
train['age'] = (pd.Timestamp.now() - train['date']).dt.days // 30
train

,id,plate,date,price,letters,numbers,region_code,description,forbidden,advantage,significance,region_name,age
0,1,X059CP797,2024-12-01,65000,XCP,59,797,NON_GOVERNMENT,False,False,0,Moscow,5
1,2,Y800MH790,2024-07-01,100000,YMH,800,790,NON_GOVERNMENT,False,False,0,Moscow Oblast,11
2,3,A212TX77,2024-04-01,290000,ATX,212,77,NON_GOVERNMENT,False,False,0,Moscow,14
3,4,P001AY199,2025-01-01,680000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow,4
4,5,P001AY199,2025-01-01,750000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51630,51631,X023PP797,2025-01-01,70000,XPP,23,797,NON_GOVERNMENT,False,False,0,Moscow,4
51631,51632,M004KA161,2025-01-01,1600000,MKA,4,161,NON_GOVERNMENT,False,False,0,Rostov Oblast,4
51632,51633,E888EB199,2025-02-01,850000,EEB,888,199,NON_GOVERNMENT,False,False,0,Moscow,3
51633,51634,X023XK77,2024-04-01,150000,XXK,23,77,NON_GOVERNMENT,False,False,0,Moscow,14
51634,51635,K450OC797,2023-10-01,25000,KOC,450,797,NON_GOVERNMENT,False,False,0,Moscow,20

In [4]:
train['description'].value_counts()

description
NON_GOVERNMENT                   50973
GOV_RUSSIA                         112
PRIVATE_TP                          71
COMMUNICATIONS                      66
REG_LAW_ENF                         57
MOSCOW_DUMA                         45
ADMIN_PRES                          39
FED_SEC_SERV                        24
REGIONAL_ADMIN                      24
VAR_GOV_AGENCIES                    23
MOSCOW_CITY_HALL                    20
MIN_JUSTICE                         15
OBLAST_ADMIN                        15
COURIER_SERVICE                     13
FED_SERVICES                        13
COMMERCIAL                          10
CITY_REG_ADMIN                      10
OBLAST_PROSECUTOR                    9
ADMIN_DIR_FED_COUNCIL                8
STATE_DUMA                           6
COUNTERINTEL_SERVICE                 6
CONST_COURT                          5
ROSTOV_DISTRICT_HEADS                5
OBLAST_LEG_ASSEMBLY                  5
PRES_ADMIN_DIR                       5
DRUG_TAX_SERVICE                     5
DISTRICT_POLICE                      4
OBLAST_ADMIN_FSS_PROSECUTOR          4
KRAI_CITY_ADMIN                      3
INT_AFFAIRS_DEPT                     3
HEADS_ENTERPRISES                    3
SPECIAL_PROSECUTOR                   3
OBLAST_COURTS                        3
DEP_SECURITY_SERV                    2
SPECIAL_PLATES                       2
KRAI_TAX_AUTH                        2
ROSTOV_PREZ_PLENIPOTENTIARIES        2
OBLAST_OLD_ADMIN                     2
KRAI_ADMIN                           2
PROSECUTOR_REP                       2
FIRE_DEPT                            2
KRAI_EMERCOM                         1
KRAI_OLD_ADMIN2                      1
LEAD_ENTERPRISES                     1
KRAI_OLD_INT_AFFAIRS                 1
KRAI_PROSEC_INT                      1
GANGSTER_PLATES                      1
SPECIAL                              1
OBLAST_INT_AFFAIRS                   1
REP_GOV                              1
NOVOSIB_ADMIN                        1
TRAFFIC_POLICE                       1
SEMI_SPECIAL                         1
Name: count, dtype: int64

In [5]:
# get year from date, change numbers and region code to categorical
train['region_code'] = train['region_code'].astype('category')
train['region_name'] = train['region_name'].astype('category')
train['region_code'] = train['region_code'].astype('category')
train

,id,plate,date,price,letters,numbers,region_code,description,forbidden,advantage,significance,region_name,age
0,1,X059CP797,2024-12-01,65000,XCP,59,797,NON_GOVERNMENT,False,False,0,Moscow,5
1,2,Y800MH790,2024-07-01,100000,YMH,800,790,NON_GOVERNMENT,False,False,0,Moscow Oblast,11
2,3,A212TX77,2024-04-01,290000,ATX,212,77,NON_GOVERNMENT,False,False,0,Moscow,14
3,4,P001AY199,2025-01-01,680000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow,4
4,5,P001AY199,2025-01-01,750000,PAY,1,199,NON_GOVERNMENT,False,False,0,Moscow,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51630,51631,X023PP797,2025-01-01,70000,XPP,23,797,NON_GOVERNMENT,False,False,0,Moscow,4
51631,51632,M004KA161,2025-01-01,1600000,MKA,4,161,NON_GOVERNMENT,False,False,0,Rostov Oblast,4
51632,51633,E888EB199,2025-02-01,850000,EEB,888,199,NON_GOVERNMENT,False,False,0,Moscow,3
51633,51634,X023XK77,2024-04-01,150000,XXK,23,77,NON_GOVERNMENT,False,False,0,Moscow,14
51634,51635,K450OC797,2023-10-01,25000,KOC,450,797,NON_GOVERNMENT,False,False,0,Moscow,20

In [6]:
from sklearn.model_selection import train_test_split

# Define features and target
X = train.drop(['price'], axis=1)
y = train['price']

# Drop any non-useful columns for modeling
X = X.drop(['id', 'plate', 'date'], axis=1)

# Convert categorical variables to dummy variables
X = pd.get_dummies(X, drop_first=True)

# Create train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training data shape: {X_train.shape}, {y_train.shape}")
print(f"Testing data shape: {X_test.shape}, {y_test.shape}")

Training data shape: (41308, 2015), (41308,)
Testing data shape: (10327, 2015), (10327,)

In [7]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Create and train a baseline random forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions
y_pred = rf_model.predict(X_test)

# Evaluate model performance
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

# Calculate SMAPE (Symmetric Mean Absolute Percentage Error)
def smape(actual, predicted):
    return 100 * np.mean(2 * np.abs(predicted - actual) / (np.abs(actual) + np.abs(predicted)))

smape_value = smape(y_test, y_pred)

print(f"Random Forest Baseline Model Performance:")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R² Score: {r2:.4f}")
print(f"SMAPE: {smape_value:.2f}%")

# Feature importance
feature_importance = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance': rf_model.feature_importances_
}).sort_values('Importance', ascending=False)

# Display top 10 most important features
print("\nTop 10 most important features:")
print(feature_importance.head(10))

Random Forest Baseline Model Performance:
Mean Absolute Error: 284762.39
Root Mean Squared Error: 1672874.70
R² Score: 0.0120
SMAPE: 46.68%

Top 10 most important features:
                               Feature  Importance
0                              numbers    0.238827
4                                  age    0.117141
1806                    region_code_77    0.042367
1574                       letters_XXX    0.039681
3                         significance    0.037801
1738                     region_code_8    0.032899
1815                    region_code_88    0.028296
946                        letters_MMM    0.025560
1982  region_name_Republic of Kalmykia    0.022445
1871                   region_code_777    0.021404

In [8]:
test = pd.read_csv('data/test_merged.csv')
# check test data
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7695 entries, 0 to 7694
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7695 non-null   int64
 1   plate         7695 non-null   object
 2   date          7695 non-null   object
 3   price         0 non-null      float64
 4   letters       7695 non-null   object
 5   numbers       7695 non-null   int64
 6   region_code   7695 non-null   int64
 7   description   7695 non-null   object
 8   forbidden     7695 non-null   bool
 9   advantage     7695 non-null   bool
 10  significance  7695 non-null   int64
 11  region_name   7695 non-null   object
dtypes: bool(2), float64(1), int64(4), object(5)
memory usage: 616.3+ KB

In [9]:
# prepare test data
test['date'] = pd.to_datetime(test['date'])
# make a new column calculating how old the data is in months
test['age'] = (pd.Timestamp.now() - test['date']).dt.days // 30
# get year from date, change numbers and region code to categorical
test['region_code'] = test['region_code'].astype('category')
test['region_name'] = test['region_name'].astype('category')

# Drop non-useful columns for modeling
test = test.drop(['id', 'plate', 'date'], axis=1)
# Convert categorical variables to dummy variables
test = pd.get_dummies(test, drop_first=True)
# Align test set with training set features
test = test.reindex(columns=X_train.columns, fill_value=0)
# Check if the test set has the same columns as the training set
if not test.columns.equals(X_train.columns):
    raise ValueError("Test set does not have the same columns as the training set. Please check preprocessing steps.")

In [10]:
# Make predictions on the test set
test_predictions = rf_model.predict(test)
# Prepare submission DataFrame
submission = pd.DataFrame({
    'id': pd.read_csv('data/test_merged.csv')['id'],  # Use original IDs from test data
    'price': test_predictions
})
# Save submission to CSV
submission.to_csv('submission.csv', index=False)
print("Submission file created: submission.csv")
# Display the first few rows of the submission
print(submission.head())

Submission file created: submission.csv
      id          price
0  51636  129723.293333
1  51637   63800.000000
2  51638  504575.000000
3  51639   83400.000000
4  51640  799633.313333